* {
    background-color: #f76c6c;
}

body {
    text-align: center;
}

img {
   background-color: white;
   border: gray;
   border-style: inset;
   border-width: 3px;
   height: 150px;
   width: 150px;
}

header {
    text-align: center;
    color: white;
    font-size: 10vmin;
    font-family: 'Nunito', sans-serif;
}

h1 {
    color: white;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}

h2 {
    margin: 50px auto;
    background-color: white;
    height: 40px;
    width: 150px;
    padding: 3px;
    border: gray;
    border-style: solid;
    border-width: 3px;
    font-family: 'Nunito', sans-serif;
}

h3 {
    color: white;
    text-align: left;
    font-family: 'Nunito', sans-serif;
}

p {
    color: white;
    text-align: left;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

#spinBtn {
    background-color: white;
    color: #f76c6c;
    font-size: 5vmin;
    font-family: 'Nunito', sans-serif;
    border: lightpink;
    border-style: outset;
    border-width: 3px;
    margin: auto;
}

